@import "style.css" screen;
@import "footer.css" screen;

.container{
    display: grid;
    grid-template-rows: 100px 300px auto 300px auto 300px auto 100px 150px;
    grid-template-areas: 
    "hd"
    "img1"
    "alt1"
    "img2"
    "alt2"
    "img3"
    "alt3"
    "bn"
    "ft";
    grid-gap: 10px;
}

#first{
    grid-area: img1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 55%;
    background-image: url('images/r3.jpg');
    background-size: 450px;
    background-repeat: no-repeat;
    margin: 10px;
}

#second{
    grid-area: img2;
    background-position: 50%;
    background-image: url("images/450sr.png");
    background-size: 450px;
    background-repeat: no-repeat;
    margin: 10px;
}

#third{
    grid-area: img3;
    background-position: 30%;
    background-image: url("images/kawazaki.png");
    background-size: 400px;
    background-repeat: no-repeat;
    margin: 10px;
}

#altfirst{
    grid-area: alt1;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.459);
}

#altsecond{
    grid-area: alt2;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.459);
}

#altthird{
    grid-area: alt3;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.459);
}


#next{
    display: inline;
    padding: 4px;
    text-decoration: dashed;
    margin: 4px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.705);
}


  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
    .container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100px 300px auto 110px;
        grid-template-areas: 
        "hd hd hd"
        "img1 img2 img3"
        "alt1 alt2 alt3"
        "bn bn bn"
        "ft ft ft";
        grid-gap: 10px;
      }
    }
