.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 300px auto 110px;
    grid-template-areas: 
    "hd hd hd"
    "img1 img2 img3"
    "alt1 alt2 alt3"
    "ft ft ft";
}


.nestedHeader{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    font-size: larger;
    border: 3px solid rgba(128, 128, 128, 0.384);
    padding: 1%;
    border-radius: 5px;
    justify-content: center;
  }

.controller{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: purple;
    margin: 2px;
  }

.header{
    grid-area:hd;
  }

#first{
    grid-area: img1;
    background-position: 110%;
    background-image: url('images/r3.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    margin: 10px;
}

#second{
    grid-area: img2;
    background-position: 110%;
    background-image: url("images/450sr.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

#third{
    grid-area: img3;
    background-position: 110%;
    background-image: url("images/kawazaki.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

#altfirst{
    grid-area: alt1;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.459);
}

#altsecond{
    grid-area: alt2;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.459);
}

#altthird{
    grid-area: alt3;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.459);
}

.footer{
    grid-area: ft;
}

.footer{
    grid-area: ft;
    text-align: center;
    font-size: 30px;
    margin: 50px;
}


#next{
    display: inline;
    border: 3px solid;
    padding: 4px;
    border-radius: 6px;
    text-decoration: dashed;
    margin: 4px;
}

