@import "style.css" screen;
@import "footer.css" screen;

.container{
    display: grid;
    grid-template-rows: 110px auto 100px;
    grid-template-areas: 
    "hd"
    "ct"
    "bn"
    "ft";
}

.content{
    grid-area: ct;
    margin: 10px;
    font-size: 30px;
    padding: 10px;
}


@media(min-width:900px) {
    .container{
          display:grid;
          grid-template-rows: 100px auto 150px;
          grid-template-areas: 
          "hd"
          "ct"
          "bn"
          "ft";
      }
    }