@import "style.css" screen;
@import "footer.css" screen;
@import "card.css" screen;

.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 350px 600px auto;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    grid-gap: 50px;
  }

  .nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 60px;
  }
  .nestedGrid > *{
    border: 2px solid aquamarine;
    height: 200px;
    width: 300px;
    border-radius: 1%;
    padding: 10px;
  }

  .nestedSidebar{
    display: inline-block;
    text-align: center;
  }

  #main{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 4px solid blueviolet;
    padding: 20px;
    width: 320px;
    height: 70px;
    margin: auto;
    justify-content: center;
  }
  
  #content{
    grid-area: con;
    font-size: 20px;
    padding: 15px;
  }
  #link{
    grid-area: fot;
    padding: 5px;
  }

    .sidebar{
      grid-area: sd;
      margin: 20px;
      justify-content: center;
      align-items: center;
    }
    .content{
      grid-area: main;
      margin: 20px;
    }




  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container{
        display:grid;
        grid-template-columns: 30px 400px 400px;
        grid-template-rows: 100px 650px 150px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
  }