.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 550px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    grid-gap: 15px;
  }
  /* add css for nested grid here */
  .nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 60px;
  }
  .nestedGrid > *{
    border: 2px solid aquamarine;
    height: 200px;
    width: 300px;
    border-radius: 1%;
    padding: 10px;
  }
  .nestedHeader{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "space home"
    "space post";
    grid-gap: 10px;
    font-size: larger;
    border: 3px solid rgba(128, 128, 128, 0.384);
    padding: 1%;
    border-radius: 5px;
    justify-content: center;
  }

  .nestedSidebar{
    display: grid;
    grid-template-rows: 130px auto 30px;
    grid-template-areas: 
    "b"
    "con"
    "fot";
    grid-gap: 10px;
    
  }

  .controller{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: purple;
    margin: 2px;
  }

  #main{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 4px solid blueviolet;
    padding: 20px;
    width: 320px;
    height: 70px;
    margin: auto;
    grid-area: b;
    justify-content: center;
  }
  
  #content{
    grid-area: con;
    font-size: 20px;
    padding: 15px;
  }
  #link{
    grid-area: fot;
    padding: 5px;
  }

    .header{
      /* row start/column start/ row end/ column end */
      grid-area:hd;
    }

    .sidebar{
      grid-area: sd;
      margin: 20px;
      justify-content: center;
      align-items: center;
    }
    .content{
      grid-area: main;
      margin: 20px;
    }

    .footer{
      grid-area: ft; 
      border: 1px solid salmon; 
      border-radius: 3px;
      background-color: blueviolet; 
      list-style-type: none;
      text-align: center;
      margin: 20px;
      padding: 0;
      font-size: 60px;
    }
    .footer li {
      display: inline-block;
      font-size: 20px;
      padding: 20px;
    }

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carddown {
  padding: 2px 16px;
}

img {
  object-fit: cover;
}


  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container{
        display:grid;
        grid-template-columns: 30px 400px 400px;
        grid-template-rows: 100px 650px 150px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
  }